

.input-word{
    margin: 1em;
}
input {
    padding: 15px 0px;
    font-size: 18px;
    border: none;

    
}

#Login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
}